body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./gallery.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.app-container {
  flex: 1;
}

header {
  background-color: lightslategrey;
  color: whitesmoke;
  padding: 20px;
  width: 100%;
}

header h1 {
  margin: 0;
}

nav {
  background-color: whitesmoke;
  padding: 10px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: slategrey;
  text-decoration: none;
}
.home {
  background-color: whitesmoke;
  color: rgb(77, 75, 75);
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.about {
  background-color: whitesmoke;
  color: rgb(77, 75, 75);
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.events {
  background-color: whitesmoke;
  color: rgb(77, 75, 75);
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
}
main {
  color: rgb(189, 55, 55);
  font-size: large;
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 80px;
}

footer {
  background-color: lightslategrey;
  color: whitesmoke;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 100px;
}

footer p {
  margin: 0;
}

.artist-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.row {
  justify-content: center;
  text-align: center;
}

.portfolio-item {
  position: relative;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border: 2px solid #333;
}

.portfolio-item-info {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.portfolio-item-price {
  margin: 0;
  font-size: 16px;
}

.portfolio-item-buy {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
.cart-container {
  padding-bottom: 80px;
}

.cart-summary {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  margin-right: 50px;
}

.cart-item-info {
  display: flex;
  align-items: center;
}

.cart-item-info p {
  margin-right: 10px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.quantity {
  margin: 0 5px;
}

.remove-button {
  padding: 5px;
  margin-left: 50px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-total {
  margin-top: 20px;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.cart-total p {
  margin-right: 50px;
}

.cart-total a {
  padding: 5px 10px;
  margin-right: 50px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

li img {
  margin-right: 10px;
}

li p {
  margin-right: 10px;
}

li div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

li button {
  margin-right: 5px;
  padding: 5px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

li button:hover {
  background-color: #e5e5e5;
}

li input {
  width: 50px;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
}

li input:focus {
  outline: none;
}

div > p {
  font-weight: bold;
}

div > button {
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 8px;
  background-color: #61ad63;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-style: solid;
  border-color: black;
}

div > button:hover {
  background-color: #95e699;
}

.remove {
  background-color: white;
  color: black;
}
.remove:hover {
  background-color: red;
}
.main {
  flex: 1 0 auto;
  margin-bottom: 80px;
}
.main h2 {
  margin: 0;
  color: green;
  font-size: xx-large;
}

.main img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.main h3 {
  margin: 0;
}

.main p {
  margin-right: 50px;
  text-align: center;
  font-size: x-large;
  color: rgb(232, 127, 79);
}
