body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./gallery.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  background-color: lightslategrey;
  color: whitesmoke;
  padding: 20px;
  width: 100%;
}

nav {
  background-color: whitesmoke;
  padding: 10px;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: slategrey;
  text-decoration: none !important;
}

.home {
  color: rgb(77, 75, 75);
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.about {
  color: rgb(77, 75, 75);
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.events {
  background-color: whitesmoke;
  color: rgb(77, 75, 75);
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
}

footer {
  background-color: lightslategrey;
  color: whitesmoke;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 100px;
}

footer p {
  margin: 0;
}

/* portfolio components */

.portfolio-item {
  position: relative;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border: 2px solid #333;
}

.portfolio-item-info {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.portfolio-item-price {
  margin: 0;
  font-size: 16px;
}

.portfolio-item-buy {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
 /* cart components */

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.cart-item-info {
  display: flex;
  align-items: center;
}

.cart-item-info p {
  margin-right: 10px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.quantity {
  margin: 0 5px;
}

.remove-button {
  padding: 5px;
  margin-left: 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.cart-total p {
  margin-right: 20px;
}

.cart-total a {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

div > button {
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 8px;
  background-color: #61ad63;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-style: solid;
  border-color: black;
}

div > button:hover {
  background-color: #95e699;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.main img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.main p {
  margin-right: 20px;
  font-size: x-large;
  color: rgb(77, 75, 75);
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}